// lang vars
case process.env.NODE_ENV
  when 'ru'
    - var head = 'Ознакомьтесь с отзывами'
    - var subhead = 'наших гостей на сайте TripAdvisor'
    - var head_com_1 = 'Лучшее суши в Астане!'
    - var text_com_1 = 'Регулярно посещаем этот ресторан, так как лучше суши в Астане нет. Хорошее обслуживание. Минус- отсутствие доставки.'
    - var head_com_2 = 'Японский ресторан на левом берегу'
    - var text_com_2 = 'Хороший японский ресторан на левом берегу Астаны с видом на ХанШатыр. Большой выбор в меню. Все очень вкусно'
    - var head_com_3 = 'Лучший ресторан японской кухни'
    - var text_com_3 = 'Почти каждую неделю ходим семьей в кику, здесь лучшие суши в городе, отличный интерьер, уютно, тихо, обслуживание хорошее, только с музыкой чтото нужно делать, иногда прям засыпаешь 5 баллов ресторану'
    - var head_com_4 = 'Отличное место!'
    - var text_com_4 = 'Мне уже сложно припомнить сколько раз мы с семьей кушали в этом ресторане! Суши вкуснее я не ели нигде! Все свежее, обслуживание, внимательность официантов, на высшем уровне! Наше любимое местечко в Астане!!!'
    - var review = 'Больше отзывов на сайте — '
  when 'eng'
    - var head = 'Read the comments of'
    - var subhead = 'our guests at TripAdvisor'
    - var head_com_1 = 'Best sushi in Astana!'
    - var text_com_1 = 'We often visit this restaurant as there is best sushi in Astana. Good service. Con – no delivery.'
    - var head_com_2 = 'Japanese Restaurant on the left bank'
    - var text_com_2 = 'Good Japanese Restaurant on the left bank of Astana with Khan Shatyr view. Great assortment. Very tasty.'
    - var head_com_3 = 'Best Japanese Restaurant'
    - var text_com_3 = 'Almost each week we visit kiku, there is best sushi in the city, perfect interior, cozy, restful, good service, but there is needed to do something with music. Sometimes you fall asleep 5 score to the restaurant'
    - var head_com_4 = 'Perfect place!'
    - var text_com_4 = 'It’s hard to me to remember how many times we were in this restaurant! It’s the most delicious sushi I’ve ever tried. Everything is fresh, service, attentiveness of waiters, top class! Our favorite place!'
    - var review = 'More comments at — '
  when 'kz'
    - var head = 'TripAdvisor сайтындағы біздің'
    - var subhead = 'қонақтардың пікіріне зер салыңыз'
    - var head_com_1 = 'Астанадағы ең жақсы суши!'
    - var text_com_1 = 'Бұл мейрамханаға жиі келеміз, өйткені, Астанада мұнан жақсы суши таппайсың. Бір кемшілігі – үйге жеткізіп беру қызметі жоқ'
    - var head_com_2 = 'Сол жағалаудағы жапон мейрамханасы.'
    - var text_com_2 = 'Астананың сол жағалауындағы жапон мейрамханасы, Хан Шатырдың көрінісімен. Ас мәзірінде таңдау көп. Бәрі дәмді.'
    - var head_com_3 = 'Жапон асханасының үздік мейрамханасы!'
    - var text_com_3 = 'Кикуге апта сайын келеміз десе де болады, бұл жердің сушиі жақсы, интерьері талғамға сай, тыныш, қызмет көрсетуі жоғары, тек музыка жағына көңіл бөлу керек сияқты, адамды сергітетіндей болса. Мейрамханаға 5 балл қоямын.'
    - var head_com_4 = 'Өте жақсы орын!'
    - var text_com_4 = 'Осы мейрамханада отбасымызбен бірнеше мәрте тамақтанғанбыз! Мұндай дәмді сушиді еш жерден жеп көрмеппін. Әзірленген тағамдары, қызмет көрсетуі, даяшылардың көңіл бөлуі - жоғары деңгейде. Астанадағы жиі баратын ең сүйікті орнымыз.'
    - var review = 'Cайтында пікірлер саны көп '
section#review
  a(name="review")
  .container
    h2 #{head}
    h3 #{subhead}
    ul
      li
        h4: span #{head_com_1}
        p #{text_com_1}
      li
        h4: span #{head_com_2}
        p #{text_com_2}
      li
        h4: span #{head_com_3}
        p #{text_com_3}
      li
        h4: span #{head_com_4}
        p #{text_com_4}
    h3.review_trap
      span #{review}
      a(href="http://www.tripadvisor.ru") www.tripadvisor.ru
    .trapvisor
      .reviews
        |<div id="TA_rated612" class="TA_rated">
        |<ul id="PN4Bsqedx" class="TA_links BaLsAYW5tE">
        |<li id="nSSZRXsZqSoz" class="R5w0DaDwCOHz">
        |<a target="_blank" href="https://www.tripadvisor.ru/"><img src="https://www.tripadvisor.ru/img/cdsi/img2/badges/ollie-11424-2.gif" alt="TripAdvisor"/></a>
        |</li>
        |</ul>
        |</div>
        |<script src="https://www.jscache.com/wejs?wtype=rated&amp;uniq=612&amp;locationId=6704343&amp;lang=ru&amp;display_version=2"></script>
      .reviews
        |<div id="TA_cdswritereviewnew279" class="TA_cdswritereviewnew">
        |<ul id="5E7Nl0KLiwC" class="TA_links 5BQGJgFR9">
        |<li id="59HVgIeCvb4" class="l71aSLr">
        |<a target="_blank" href="https://www.tripadvisor.ru/"><img src="https://www.tripadvisor.ru/img/cdsi/img2/branding/medium-logo-29834-2.png" alt="TripAdvisor"/></a>
        |</li>
        |</ul>
        |</div>
        |<script src="https://www.jscache.com/wejs?wtype=cdswritereviewnew&amp;uniq=279&amp;locationId=6704343&amp;lang=ru&amp;lang=ru&amp;display_version=2"></script>
